altgraph==0.17
future==0.18.2
pefile==2019.4.18
pyinstaller==4.2
pyinstaller-hooks-contrib==2020.11
PyQt6==6.0.1
PyQt6-Qt==6.0.1
PyQt6-sip==13.0.1
PySide6==6.0.1
pywin32-ctypes==0.2.0
shiboken6==6.0.1
simple-pid==0.2.4
